* {
  box-sizing: border-box;
}

.frame {
  display: flex;
  align-items: flex-start;
  width: 580px;
  height: 254px;

  .ellipse7689 {
    margin-top: 12px;
    border-radius: 50%;
    background: #ffe59d;
    width: 2px;
    height: 2px;
    filter: blur(1px);
  }

  .ellipse7690 {
    margin-left: 18px;
    border-radius: 50%;
    background: #ffe59d;
    width: 3px;
    height: 3px;
    filter: blur(1px);
  }

  .ellipse7686 {
    margin-top: 240px;
    margin-left: 123px;
    border-radius: 50%;
    background: #ffe59d;
    width: 4px;
    height: 4px;
    filter: blur(1px);
  }

  .ellipse76862 {
    margin-top: 3px;
    margin-left: 42px;
    border-radius: 50%;
    background: #ffe59d;
    width: 7px;
    height: 7px;
    filter: blur(1px);
  }

  .ellipse76863 {
    opacity: 0.2;
    margin-top: 33px;
    margin-left: 47px;
    border-radius: 50%;
    background: #ffe59d;
    width: 7px;
    height: 7px;
    filter: blur(2px);
  }

  .ellipse7688 {
    margin-top: 251px;
    margin-left: 122px;
    border-radius: 50%;
    background: #ffe59d;
    width: 3px;
    height: 3px;
    filter: blur(1px);
  }

  .ellipse7687 {
    opacity: 0.5;
    margin-top: 15px;
    margin-left: 61px;
    border-radius: 50%;
    background: #ffe59d;
    width: 6px;
    height: 6px;
    filter: blur(2px);
  }

  .ellipse76872 {
    margin-top: 238px;
    margin-left: 73px;
    border-radius: 50%;
    background: #ffe59d;
    width: 3px;
    height: 3px;
    filter: blur(1px);
  }

  .ellipse7685 {
    margin-top: 38px;
    margin-left: 7px;
    border-radius: 50%;
    background: #ffe59d;
    width: 8px;
    height: 8px;
    filter: blur(2px);
  }

  .ellipse76873 {
    margin-top: 78px;
    margin-left: 33px;
    border-radius: 50%;
    background: #ffe59d;
    width: 11px;
    height: 11px;
    filter: blur(1px);
  }
}
